.loginpage {
    background: #ffffff;
    height: 100vh;
    width: 100%;
    text-align: center;
}

.h4-login {
    font-family: "Zen Old Mincho";
    font-size: 35px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.form-login {

    display: inline-block;
    align-items: center;
    height: 270px;
    width: 350px;
    margin-bottom: 170px;
}

.text_area_empno {
    /* font-family: "Work Sans"; */
    align-content: center;
    border-radius: 8px;
    margin-bottom: 35px;
    width: 100%;
    height: 64px;
    padding-left: 14px;
    font-size: 20px;
}

.text_area_pass {
    /* font-family: "Work Sans"; */
    align-content: center;
    border-radius: 8px;
    margin-bottom: 30px;
    width: 100%;
    height: 64px;
    padding-left: 14px;
    font-size: 20px;
}

.text_input {
    /* font-family: "Work Sans"; */
    margin-top: 1.2rem;
    font-size: 20px;
    border: none;
    width: 80%;
}

.btnlogin {
    /* font-family: "Work Sans"; */
    margin-bottom: 20px;
    margin-top: auto;
    width: 100%;
    height: 60px;
    border-radius: 8px;
    background: #1da0f2c4;
    border: 20px;
    box-shadow: 0 4px 21.13px 0 rgba(217, 2, 15, 0.2), 0 6px 31.70px 0 rgba(217, 2, 15, 0.05);
    font-weight: bold;
    font-size: 25px;
    color: #000000;
    cursor: pointer;
}

.loginpagecard {
    font-family: "Work Sans";
    display: inline-block;
    background: #1da0f260;
    width: 480px;
    height: 590px;
    margin-top: 6%;
    border-radius: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.link {
    color: #0E4579;
    font-size: 18px;
    cursor: pointer;
    display: block;
    text-decoration: none;
}


.password-container-login {
    position: relative;
    width: 100%;
}

.password-input {
    width: 100%;
    padding: 10px 40px 10px 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.toggle-password-login {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-130%);
    bottom: 22px;
    cursor: pointer;
}

.password-container input {
    padding-left: 14px;
    font-size: 20px;
}


.forgot-password {
    font-family: "Work Sans";
    position: absolute;
    right: 0;
    bottom: -55px;
    font-size: 16px;
    font-weight: bold;
    color: red;
    text-decoration: none;
    margin-bottom: 20px;

}