.signuppage{
    background: #ffffff ;
    height: auto;
    width: 100%;
    text-align: center;
}

.h4-signup {
    font-family: "Zen Old Mincho";
    font-size: 35px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}


.form-signup{
    display: inline-block;
    align-items: center;
    height: 270px;
    width: 350px;
    margin-bottom: 170px;
}

.text_area{
    align-content: center;
    border-radius: 8px;
    margin-bottom: 20px;
    width: 100%;
    height: 49px;
    padding-left: 14px;
    font-size: 20px;
}

.text_input{
    margin-top: 1.2rem;
    font-size: 20px;
    border: none;
    width: 80%;
}

.btnsignup{

    margin-bottom: 20px;
    margin-top: auto;
    width: 100%;
    height: 60px;
    border-radius: 8px;
    background: #1DA1F2;
    border: none;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    box-shadow: 0 4px 21.13px 0 rgba(217, 2, 15, 0.2), 0 6px 31.70px 0 rgba(217, 2, 15, 0.05);
    cursor: pointer;
}

.signuppagecard{
    font-family: "Work Sans";
    display: inline-block;
    background: #1da0f260;
    width: 500px;
    height: 760px;
    margin-top: 20px;
    border-radius: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.link{
    color: #0E4579;
    font-size: 18px;
    cursor: pointer;
    display: block;
    text-decoration: none;
}

.password-input {
    width: 100%;
    padding: 10px 40px 10px 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.toggle-password-signup-pass {
    position: absolute;
    right: 15px;
    bottom: 30px;
    cursor: pointer;
}
.toggle-password-signup-cf-pass {
    position: absolute;
    right: 15px;
    bottom: 30px;
    cursor: pointer;
}

.password-container-signup input {
    position: relative;
    width: 100%;
    padding-left: 14px;
    font-size: 20px;
}